<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Workout</h1>
    <form action="/users/<%= user._id %>/workouts/<%= workout._id %>?_method=PUT" method="POST">
        <label for="type">Type:</label>
        <select id="type" name="type">
          <option value="" disabled selected>Workout Type</option>
          <option value="run" <%= workout.type === 'run' ? 'selected' : '' %>>Run</option>
          <option value="weightTraining" <%= workout.type === 'weightTraining' ? 'selected' : '' %>>Weightlifting</option>
          <option value="walk" <%= workout.type === 'walk' ? 'selected' : '' %>>Walk</option>
        </select>
        <br>

        <label for="duration">Duration (min):</label>
        <input type="number" id="duration" name="duration" value="<%= workout.duration %>">
        <br>
    
        <div id="runFields" style="display: <%= workout.type === 'run' ? 'block' : 'none' %>;">
          <label for="distance">Distance (miles):</label>
          <input type="text" id="distance" name="distance"
          pattern="[0-9]*[.]?[0-9]+" placeholder="number"
          value="<%= workout.type === 'run' ? workout.distance : '' %>">
          <br>
        </div>
    
        <div id="weightTrainingFields" style="display: <%= workout.type === 'weightTraining' ? 'block' : 'none' %>;">
          <label for="exercise">Exercise:</label>
          <input type="text" id="exercise" name="exercise" value="<%= workout.type === 'weightTraining' ? workout.exercise : '' %>">
          <br>

          <div class="sets-and-reps">
          <label for="weight">Weight (lbs):</label>
          <input type="number" id="weight" name="weight" value="<%= workout.type === 'weightTraining' ? workout.weight : '' %>">
          <br>

          <label for="sets">Sets:</label>
          <input type="number" id="sets" name="sets" value="<%= workout.type === 'weightTraining' ? workout.sets : '' %>">
          <br>

          <label for="reps">Reps:</label>
          <input type="number" id="reps" name="reps" value="<%= workout.type === 'weightTraining' ? workout.reps : '' %>">
          <br>
          </div>
        </div>
  
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes"><%= workout.notes %></textarea>
        <br>
    
        <button type="submit">Update Workout</button>
    </form>
    
    <a href="/users/<%= user._id %>/workouts/<%= workout._id %>">Back to Workout</a>
</body>
</html> 

<script>
    document.getElementById('type').addEventListener('change', function() {
    let selectedType = this.value;
    if (selectedType === 'run') {
        document.getElementById('runFields').style.display = 'block';
        document.getElementById('weightTrainingFields').style.display = 'none';
    } else if (selectedType === 'weightTraining') {
        document.getElementById('runFields').style.display = 'none';
        document.getElementById('weightTrainingFields').style.display = 'block';
    } else if (selectedType === 'walk') {
        document.getElementById('runFields').style.display = 'none';
        document.getElementById('weightTrainingFields').style.display = 'none'; 
    } else {
        document.getElementById('runFields').style.display = 'none';
        document.getElementById('weightTrainingFields').style.display = 'none';
    }
    });
</script>
