<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit View</h1>
    <form action="/users/<%= user._id %>/workouts/<%= workout._id %>?_method=PUT" method="POST">
        <label for="type">Type:</label>
        <select id="type" name="type">
          <option value="run" <%= workout.type === 'run' ? 'selected' : '' %>>Run</option>
          <option value="weightTraining" <%= workout.type === 'weightTraining' ? 'selected' : '' %>>weightTraining</option>
          <option value="walk" <%= workout.type === 'walk' ? 'selected' : '' %>>Walk</option>
        </select>
        <br>
    
        <div id="runFields" style="display: <%= workout.type === 'run' ? 'block' : 'none' %>;">
          <label for="distance">Distance (miles):</label>
          <input type="number" id="distance" name="distance" value="<%= workout.type === 'run' ? workout.distance : '' %>">
          <br>
        </div>
    
        <div id="weightTrainingFields" style="display: <%= workout.type === 'weightTraining' ? 'block' : 'none' %>;">
          <label for="weight">Weight (lbs):</label>
          <input type="number" id="weight" name="weight" value="<%= workout.type === 'weightTraining' ? workout.weight : '' %>">
          <br>
        </div>
    
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes"><%= workout.notes %></textarea>
        <br>
    
        <button type="submit">Update Workout</button>
    </form>
    
    <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
        <button type="submit" onclick="return confirm('Are you sure you want to delete this workout?')">Delete Workout</button>
    </form>
    
    <a href="/users/<%= user._id %>/workouts/<%= workout._id %>">Back to Workouts</a>
    
    <script>
        document.getElementById('type').addEventListener('change', function() {
          var selectedType = this.value;
          if (selectedType === 'run') {
            document.getElementById('runFields').style.display = 'block';
            document.getElementById('weightTrainingFields').style.display = 'none';
          } else if (selectedType === 'weightTraining') {
            document.getElementById('runFields').style.display = 'none';
            document.getElementById('weightTrainingFields').style.display = 'block';
          } else {
            document.getElementById('runFields').style.display = 'none';
            document.getElementById('weightTrainingFields').style.display = 'none';
          }
        });
    </script>
</body>
</html>