<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community Show Workout View</h1>




<ul>
    <li>Type: <%= workout.type %></li>
    <li>Date: <%= workout.date.toDateString() %></li>
    <% if (workout.duration) { %>
        <li>Duration: <%= workout.duration %> minutes</li>
    <% } %>
    <% if (workout.type === 'run') { %>
    <li>Distance: <%= workout.distance %> miles</li>
    <li>Average pace: 
        <% 
        let totalSeconds = workout.duration * 60;
        let paceSeconds = Math.round(totalSeconds / workout.distance); 
        
        let minutes = Math.floor(paceSeconds / 60); 
        let seconds = paceSeconds % 60; 
        
        let formattedTime = `${minutes}' ${seconds}"`;
        %>
        <%= formattedTime %> per mile
    </li>
        <% } else if (workout.type === 'weightTraining') { %>
            <li>Exercise: <%= workout.exercise %></li>
            <li>Weight: <%= workout.weight %> lbs</li>
            <li>Sets: <%= workout.sets %></li>
            <li>Reps: <%= workout.reps %></li>
        <% } %>
    <li>Notes: <%= workout.notes %></li>
</ul>

















</body>
</html>