<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community Show Workout View</h1>




<ul>
    <li>Type: <%= workout.type %></li>
    <li>Date: <%= workout.date.toDateString() %></li>
        <% if (workout.type === 'run') { %>
    <li>Distance: <%= workout.distance %> miles</li>
        <% } else if (workout.type === 'weightTraining') { %>
    <li>Weight: <%= workout.weight %> lbs</li>
        <% } %>
    <li>Notes: <%= workout.notes %></li>
</ul>

















</body>
</html>