<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sidekick">
    <h1>community All Workouts view</h1>
    </div>
    <div class="workouts-grid">
    <ul>
        <% workouts.forEach(workout => { %>
            <li>
                <strong>
                    <a href="/community/<%= user._id %>/<%= workout._id %>">
                        <%= workout.type %>
                    </a>
                </strong> - <%= workout.date.toLocaleDateString() %>
            </li>
        <% }); %>
    </ul>
    </div>
</body>
</html>